@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-family-inter: 'Inter', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  --color-main-text: #ffffff;
  --color-subtext: #a1a1a1;
}

body {
  @apply grid justify-items-normal lg:flex-row text-lg text-main-text bg-gradient-to-br from-slate-900 to-indigo-950;
  font-family: var(--font-family-inter);
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold mb-2;
  }
}

@layer components {
  .sidebar {
    @apply flex flex-col items-center text-sm justify-self-auto max-md:pt-4 xl:text-base xl:w-1/3 xl:fixed xl:top-25;
  }

  .content {
    @apply flex flex-col items-center text-base justify-self-auto py-4 xl:text-lg xl:w-3/4 xl:ml-[25%];
  }

  .card {
    @apply p-4 bg-[#252525] border-indigo-800 border-l-4 md:border-l-4 rounded-[10px] transition-transform hover:translate-y-[-10px];
  }

  .flex-card {
    @apply flex p-4 bg-[#252525] border-indigo-800 border-l-4 md:border-l-4 rounded-[10px] transition-transform hover:translate-y-[-10px];
  }

  .card-container {
    @apply p-4 max-w-4xl leading-relaxed;
  } 

  .list-container {
    @apply flex flex-wrap gap-2 mb-2;
  }

  .badge {
    @apply px-3 py-1 text-sm font-semibold rounded-lg;
  }

  .resume-button {
    @apply flex items-center gap-2 px-4 py-2 border border-zinc-400 text-zinc-400 fill-zinc-400 rounded transition-colors hover:text-black hover:fill-black hover:bg-white;
  }

  .social-button {
    @apply w-6 h-6 fill-zinc-400 hover:fill-white transition-colors duration-300;
  }

  .link {
    @apply mt-auto py-2 text-[#aaa] cursor-pointer hover:text-[#fff] transition-colors duration-300 flex items-center;
  }

  .image-small {
    @apply flex-shrink-0 w-[80px] h-[80px] mr-5 rounded-full;
  }

  .image-medium {
    @apply flex-shrink-0 w-[100px] h-[100px] mr-4 rounded-full overflow-hidden;
  }

  .image-profile {
    @apply flex-shrink-0 w-[200px] h-[200px] rounded-full object-cover mb-2 mx-auto md:mx-0;
  }

  .relative {
    @apply relative inline-block;
  }

  .circle-background {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-[52%] w-[210px] h-[210px] bg-gradient-to-tl from-slate-700 to-indigo-700 rounded-full -z-10;
  }

  .subtext {
    @apply text-sm xl:text-base;
    color: var(--color-subtext);
  }
}