@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-family-inter: 'Inter', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  --color-main-text: #ffffff;
  --color-subtext: #a1a1a1;
}

@layer base {
  html {
    @apply overscroll-none;
  }

  body {
    @apply grid justify-items-normal lg:flex-row text-lg text-main-text bg-black bg-gradient-to-br from-slate-900 to-indigo-950;
    font-family: var(--font-family-inter);
  } 

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold mb-3;
  }
}

@layer components {
  /* Sidebar (Right Side) */
  .sidebar {
    @apply flex flex-col items-center text-sm justify-self-auto max-md:pt-4 xl:text-base xl:w-1/3 xl:fixed xl:top-25;
  }

  /* Content (Left Side) */
  .content {
    @apply flex flex-col items-center text-base justify-self-auto py-4 xl:text-lg xl:w-3/4 xl:ml-[25%];
  }

  /* Cards */
  .card,
  .flex-card {
    @apply p-4 bg-[#252525] border-indigo-800 border-l-4 md:border-l-4 rounded-[10px] transition-transform hover:translate-y-[-10px];
  }

  .flex-card {
    @apply flex;
  }

  .card-container {
    @apply p-4 max-w-4xl leading-relaxed;
  }

  /* Lists */
  .list-container {
    @apply flex flex-wrap gap-2 mb-2;
  }

  .badge {
    @apply px-3 py-1 text-sm font-semibold rounded-xl;
  }

  /* Buttons */
  .resume-button {
    @apply flex gap-2 px-4 py-2 border border-(--color-subtext) text-(--color-subtext) fill-(--color-subtext) rounded transition-colors hover:text-black hover:fill-black hover:border-black hover:bg-white;
  }

  .social-button {
    @apply w-6 h-6 fill-(--color-subtext) hover:fill-(--color-main-text) transition-colors duration-300;
  }

  /* Links */
  .link {
    @apply flex items-center text-(--color-subtext) hover:text-(--color-main-text) transition-colors duration-300;
  }

  /* Images */
  .image-small {
    @apply w-[85px] h-[85px] rounded-full mr-5;
  }

  .image-medium {
    @apply w-[100px] h-[100px] rounded-full mr-5;
  }

  .image-profile {
    @apply w-[200px] h-[200px] max-md:ml-2 rounded-full mb-3;
  }

  /* Utility Classes */
  .relative {
    @apply relative inline-block;
  }

  .circle-background {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-[53%] w-[210px] h-[210px] bg-gradient-to-tl from-slate-700 to-indigo-700 rounded-full -z-10 max-md:-translate-x-[48%];
  }

  .subtext {
    @apply text-sm xl:text-base;
    color: var(--color-subtext);
  }
}