/* This file is used to define the layout and appearance of the application. */

:root {
  --color-text: #fff;
  --color-bg: #121212;
}

body {
  display: flex;
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: var(--font-size-base);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.left-column {
  position: fixed;
  padding: 2rem;
  top: 50px;
  left: 0;
  height: 100%;
  width: 25%;
  overflow: visible;
}

.right-column {
  padding: 2rem;
  margin-left: 25%;
  width: 75%;
  overflow-y: auto;
}

@media (max-width: 750px) {
  body {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  .left-column {
    position: static;
    margin-bottom: 0;
  }

  .right-column {
    position: static;
  }
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}
