---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Profile from "../components/Profile.astro";
import Projects from "../components/Projects.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
import Credentials from "../components/Credentials.astro";
import SkillsInterests from "../components/Skills-Interests.astro";

export const prerender = true;
---

<Layout title="Sterling Miller">
  <div slot="left">
    <Profile />
  </div>

  <div slot="right">
    <About />
    <Education />
    <SkillsInterests />
    <Projects />
    <Credentials />
    <Experience />
  </div>
</Layout>
