---
const aboutMe = {
  introduction: [
    "Hello! I'm Sterling, a software engineer with a focus on creating user-friendly and efficient applications. I enjoy to solve complex problems and appreciate the process of turning ideas into reality through code.",
    "I have a strong foundation in web development, with experience in both front-end and back-end technologies. I enjoy working with modern frameworks and tools to create responsive and dynamic web applications.",
    "I am excited about the future of technology and how it can transform our lives. I look forward to connecting with like-minded individuals and contributing to projects that push the boundaries of what is possible in software development."
  ]
};
---

<div class="max-w-4xl mx-auto p-4 font-sans leading-relaxed">
  <h1 class="text-3xl font-bold mb-6">About Me</h1>
  <div class="bg-[#252525] p-4 border-l-5 border-[#154733] rounded-[10px] space-y-4">
    {aboutMe.introduction.map(paragraph => (
      <p>{paragraph}</p>
    ))}
  </div>
</div>
