---
import "../styles/global.css";

const aboutMe = {
  introduction: [
    "Welcome! 👋🏽",
    "I'm Sterling, a software engineer with a focus on creating user-friendly and efficient applications. I enjoy solving complex problems and appreciate the process of turning ideas into reality through code.",
    "I have a strong foundation in web development, with experience in both front-end and back-end technologies. I enjoy working with modern frameworks and tools to create responsive and dynamic web applications.",
    "I am excited about the future of technology, specifically machine learning, and how it can transform our future. I look forward to connecting with like-minded individuals and contributing to projects that push the boundaries of what is possible in software development.",
  ],
};
---

<div class="card-container">
  <h1 class="heading-1">About Me</h1>
  <div class="card">
    {aboutMe.introduction.map((paragraph) => <p>{paragraph}</p>)}
  </div>
</div>
