<div class="education-section">
  <h1>Education</h1>

  <div class="edu-card">
    <div class="edu-logo">
      <img
        src="src/assets/images/great-seal-one-color-uo-green-800x800@1x.webp"
        alt="University of Oregon Logo"
      />
    </div>

    <div class="edu-info">
      <h3>Bachelor of Computer Science</h3>
      <div>
        <p>University of Oregon, Eugene, Oregon</p>
        <p>September 2019 – Present</p>
      </div>
    </div>

    <div class="view-units">▼ View Units</div>
  </div>
</div>

<style>
  @import "../styles/education.css";
</style>
