<!-- Navbar Component -->

<nav class="navbar">
    <ul>
        <li class="home icon"><a href="/" aria-label="Home"><span>🏠</span></a></li>
        <li class="divider" aria-hidden="true">|</li>
        <li class="nav-item home"><a href="/">Home</a></li>
        <li class="nav-item about"><a href="/about">About</a></li>
        <li class="nav-item blog"><a href="/blog">Blog</a></li>
    </ul>
</nav>

<style>
    .navbar {
        background-color: rgba(0, 0, 0, 0.5);
        padding: .5rem;
        position: fixed;
        top: .5rem;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        border-radius: 25px;
        border: 1px solid gray;
    }

    .navbar ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }

    .navbar .home a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .navbar .about a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .navbar .blog a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .navbar .nav-item a:hover {
        color: #4f39fa;
    }
</style>
